# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.development
.env.stage
.env.production


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Logs
./@hiobairo/app-core/logs
./@hiobairo/app-core/*.log
./@hiobairo/app-core/npm-debug.log*
./@hiobairo/app-core/yarn-debug.log*
./@hiobairo/app-core/yarn-error.log*
./@hiobairo/app-core/pnpm-debug.log*
./@hiobairo/app-core/lerna-debug.log*

./@hiobairo/app-core/node_modules
./@hiobairo/app-core/dist
./@hiobairo/app-core/dist-ssr
./@hiobairo/app-core/*.local
./@hiobairo/app-core/.env
./@hiobairo/app-core/.env.development
./@hiobairo/app-core/.env.stage
./@hiobairo/app-core/.env.production


# Editor directories and files
./@hiobairo/app-core/.vscode/*
./@hiobairo/app-core/!.vscode/extensions.json
./@hiobairo/app-core/.idea
./@hiobairo/app-core/.DS_Store
./@hiobairo/app-core/*.suo
./@hiobairo/app-core/*.ntvs*
./@hiobairo/app-core/*.njsproj
./@hiobairo/app-core/*.sln
./@hiobairo/app-core/*.sw?
